# Python cache
__pycache__/

# macOS system files
.DS_Store

# Local virtual environment
research/.venv/
Classifier/.venv/

# Data and model artifacts
research/dataset/
research/archives/
research/keypoints/
classifier/models


# Temporary or local scripts
research/scripts/silly_script.py
research/demo.ipynb

# Bot token
classifier/bot_token.py
