# Python cache
__pycache__/

# macOS system files
.DS_Store

# Local virtual environment
research/.venv/

# Data and model artifacts
research/dataset/
research/archives/
research/models/
research/keypoints/
research/.omniglue_old/

# OmniGlue build/cache
.omniglue/

# Temporary or local scripts
research/scripts/silly_script.py
research/demo.py